In [1]:
import numpy as np 
import pandas as pd

In [2]:
data= pd.read_csv('data1')

In [3]:
data.head()

   Unnamed: 0 PostalCode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [4]:
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
data.rename(columns={"PostalCode": "Postal Code"}, inplace=True)
data.head()

   Unnamed: 0 Postal Code      Borough                            Neighborhood
0           0         M1B  Scarborough                          Rouge, Malvern
1           1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2         M1E  Scarborough       Guildwood, Morningside, West Hill
3           3         M1G  Scarborough                                  Woburn
4           4         M1H  Scarborough                               Cedarbrae

In [10]:
new = data.merge(coordinates, on="Postal Code", how="left")
new.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476